<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Customer Login Page</title>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular/angular-animate.js"></script>
    <script type="text/javascript" src="angular/angular-route.js"></script>
    <script type="text/javascript" src="angular/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/sweet-alert.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="lib/sweet-alert.css"/>
</head>
<body ng-controller="customerloginController">
<div  align="center">
    <h1>Customer Login</h1>
    <form ng-submit="customerlogin()">

        Username:<p><input type="text"  ng-model="username"  required/><p>
        Password:<p><input type="password"  ng-model="password" required/><p>
        <input type="submit" value="Login">

    </form>
    <div>
        Not registered yet?<br>
        <form action="custregister.html">
            Customers click here to register:
            <input type="submit" value="Buyer">
        </form>
    </div>
</div>
</body>
</html>